.contact {
	min-height: 40vh;
	background-image: url("../assets/images/contact.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;

	.wrapper {
		padding: 30px 0;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 40%;
	}

	input,
	textarea {
		border: none;
		padding: 10px;
		border-radius: 10px;
	}

	button {
		width: 20%;
		background-color: transparent;
		border-radius: 10px;
		padding: 8px 15px;
		margin-top: 5px;
		border: 3px solid white;
		font-family: "Migra Extrabold", serif;
		transition: 0.3s;
		&:hover,
		&:focus {
			background-color: white;
			scale: 0.9;
		}
	}
}

.contact-content {
	display: flex;
	gap: 300px;
}

.contact-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -70px;
	align-content: center;

	a {
		color: white;
		transition: 0.3s;
	}

	div {
		display: flex;
		gap: 30px;
	}

	.fa-brands,
	.fa-solid {
		@include font-size(50);
		transition: 0.3s;
		&:hover,
		&:focus {
			scale: 0.9;
		}
	}
}

.resume-download {
	background-color: transparent;
	border-radius: 10px;
	padding: 8px 25px;
	border: 3px solid white;
	font-family: "Migra Extrabold", serif;
	transition: 0.3s;
	color: black !important;
	align-self: center;
	margin-bottom: 30px;
	&:hover,
	&:focus {
		background-color: white;
		scale: 0.9;
	}
}

textarea {
	height: 150px;
}
