.contact {
	h3 {
		margin: 60px auto 0;
		width: fit-content;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.contact-icons {
	margin-top: 30px;
	i {
		@include font-size(40);
		display: inline-block;
	}
}

.fa-chevron-up {
	@include font-size(40);
	a {
		padding: 15px;
	}
	animation: arrow 1s linear 0s infinite normal;
}

.email-address {
	&:hover,
	&:focus {
		@include gradient-background;
	}
}

@keyframes arrow {
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}
