html {
	font-size: 125%;
	font-family: $body-font;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1400px;
}

img {
	display: block;
	max-width: 100%;
}

.fa-solid,
.fa-brands,
.fa-regular {
	font-family: fontAwesome;
	font-style: normal;
	display: block;
}

.material-icons-outlined {
	font-family: "Material Icons";
	display: block;
}

p {
	margin: 0;
	display: block;
	width: fit-content;
}

a {
	text-decoration: none;
	color: inherit;
	&:focus {
		outline: 1px solid black;
	}
}

ul {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		list-style: none;
	}
}

button {
	border: none;
}

h1 {
	@include h1-font;
	margin: 0;
}

h2 {
	@include h2-font;
	margin: 0;
	color: white;
}

h3 {
	@include h3-font;
	margin-top: 0;
}

h4 {
	@include h4-font;
	margin: 0;
}

.typed-cursor {
	color: black;
	margin-left: -8px;
}

footer {
	p {
		margin: 3px auto;
		font-family: "Migra Extralight", serif;
	}
}

.reveal {
	position: relative;
	opacity: 0;
	transition: all 2s ease;
}

.reveal.active {
	opacity: 1;
}

@keyframes arrow-fade {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0, 25px);
		opacity: 0;
	}
}

@keyframes skill-fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes skill-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
