.home {
	background-image: url("../assets/images/home.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;

	a {
		position: absolute;
		bottom: 40px;
	}
}

.fa-chevron-down {
	@include font-size(35);
	color: white;
	animation: arrow-fade 1.2s infinite;
}
