@media (max-width: 1200px) {
	.wrapper {
		width: 85%;
	}

	h1 {
		@include font-size(60);
	}

	h2 {
		@include font-size(50);
	}

	.about {
		min-height: 80vh;

		.image-container {
			width: 50%;
		}

		.wrapper {
			padding: 70px 0 70px;
		}
	}

	.project-content {
		width: 40%;
	}

	.contact {
		form {
			width: 70%;
		}
	}

	.contact-content {
		gap: 80px;
	}
}

@media (max-width: 800px) {
	.wrapper {
		width: 90%;
	}

	h1 {
		@include font-size(50);
	}

	h2 {
		@include font-size(35);
	}

	h4 {
		text-align: center;
		margin-top: 5px;
	}

	.nav-toggle {
		display: block;
		margin-left: auto;
	}

	.on-scroll {
		.nav-list {
			background-image: none;
			background-clip: inherit;
			color: black;
		}
	}

	.nav-list {
		flex-direction: column;
		position: absolute;
		width: 250px;
		padding: 40px 0;
		color: black;
		background-color: rgba(255, 255, 255, 0.95);
		border-radius: 30px;
		box-shadow: 0px 0px 25px 0px rgb(68, 68, 68);
		top: 80px;
		right: -300px;
		transition: 0.5s;
	}

	.nav-list.open-menu {
		margin-right: -125px;
		right: 50%;
	}

	.about {
		.image-container {
			width: 60%;
		}
	}

	.about-content {
		flex-direction: column;

		p {
			max-width: 100%;
			text-align: center;
		}
	}

	.skills {
		li {
			width: 100px;
			height: 100px;
		}
	}

	.accessibility,
	.js,
	.react,
	.responsive-design {
		@include font-size(16);
	}

	.projects {
		ul {
			gap: 70px;
		}

		li {
			flex-direction: column;
			align-items: center;
		}
	}

	.project-content {
		width: auto;
		max-width: 80%;

		p {
			text-align: center;
		}
	}

	.cope {
		h4 {
			margin-top: 8px;
		}
		.project-content {
			width: 80%;
		}

		.image-container {
			margin-right: 0;
		}
	}

	.contact {
		form {
			width: 100%;
		}

		button {
			align-self: flex-end;
			width: 90px;
		}
	}

	.contact-content {
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		gap: 100px;
	}

	.contact-icons {
		div {
			justify-content: center;
		}
	}
}
