@media (max-width: 1200px) {
	header {
		height: 80vh;
	}
	h1 {
		@include font-size(70);
	}

	h2 {
		@include font-size(40);
	}

	.about {
		padding: 80px 0;
	}

	.skills {
		padding: 80px 0;
		ul {
			li {
				i,
				span {
					@include font-size(60);
				}
			}
		}
	}

	.projects {
		padding-top: 80px;
	}
}

@media (max-width: 950px) {
	header {
		height: auto;
		.wrapper {
			flex-direction: column;
		}

		div:nth-of-type(1) {
			text-align: center;
		}

		h1,
		h2 {
			margin: 0 auto;
		}

		.image-container {
			max-width: 50%;
			margin: 60px auto;
		}
	}

	.about {
		padding: 40px 0;
		margin: 0 auto;
		text-align: center;
		p {
			text-align: center;
			margin: 0 auto;
			max-width: 90%;
		}
	}

	.skills {
		text-align: center;
	}

	.projects {
		padding: 0;
		text-align: center;
		h4 {
			margin-top: 20px;
		}
	}

	.js-quiz,
	.planted,
	.tasty {
		max-width: 100%;
		margin: 100px auto;
		h4 {
			width: 80%;
			margin: 0;
		}

		.image-container {
			width: 85%;
			margin: 0 auto;
		}

		.project-container {
			flex-direction: column;

			p {
				margin: 10px auto;
			}
		}
	}

	.planted {
		p {
			text-align: center;
		}
	}

	.project-info {
		padding: 0;
	}

	.contact {
		h3 {
			margin: 60px auto 0;
		}
	}

	.contact-icons {
		margin: 10px auto;
	}
}
