.logo {
	@include logo-font;
	color: white;
	padding-right: 23px;
	margin-bottom: 6px;
	position: relative;
	cursor: pointer;
	.logo-span {
		position: absolute;
		top: 12px;
		left: 21px;
	}
}

nav {
	@include nav-font;
	transition: 0.3s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 20;

	.wrapper {
		display: flex;
	}
}

.nav-list {
	display: flex;
	align-items: center;
	color: white;
	gap: 50px;
	margin: 0 auto;
}

.on-scroll {
	background-color: white;

	.logo,
	.nav-list,
	.logo-span {
		background-image: url("../assets/images/home.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}

	.bar-top,
	.bar-mid,
	.bar-bot {
		background-image: url("../assets/images/home.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.nav-toggle {
	display: none;
	padding: 10px;
	background-color: transparent;
	border: none;
	z-index: 10;
	cursor: pointer;
}

.bar-top,
.bar-mid,
.bar-bot {
	background-color: white;
	display: block;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.2s ease all;
	transition: 0.5s ease;
	border-radius: 2px;
	height: 2px;
	width: 25px;
	margin-bottom: 4px;
}

.opened .bar-top {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 15% 15%;
	transform-origin: 15% 15%;
}
.opened .bar-mid {
	opacity: 0;
}
.opened .bar-bot {
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 15% 95%;
	transform-origin: 15% 95%;
}
