.skills {
	background-image: url("../assets/images/skills.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: right;

	.wrapper {
		padding: 70px 0 100px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}

	li {
		width: 125px;
		height: 125px;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.8);
		mix-blend-mode: screen;
		font-weight: bold;

		&:hover p {
			visibility: visible;
			animation: skill-fadein 0.8s;
		}

		&:hover i {
			visibility: hidden;
			animation: skill-fadeout 0.8s;
		}

		&:hover span {
			visibility: hidden;
			animation: skill-fadeout 0.8s;
		}

		p {
			position: absolute;
			display: block;
			max-width: 110px;
			visibility: hidden;
		}
	}

	i,
	span {
		@include font-size(50);
	}
}

.accessibility {
	@include font-size(18);
}
