// .skills {
// 	padding: 120px 0;
// 	ul {
// 		margin: 0 auto;
// 		max-width: 90%;
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		flex-wrap: wrap;

// 		li {
// 			max-width: 150px;
// 			width: 150px;
// 			margin: 20px auto;
// 			display: flex;
// 			flex-direction: column;
// 			align-items: center;
// 			text-align: center;

// 			p {
// 				text-align: center;
// 				max-width: 100%;
// 				margin: 5px auto;
// 			}

// 			.material-icons-outlined {
// 				margin-top: 5px;
// 				margin-bottom: -15px;
// 			}

// 			i,
// 			span {
// 				@include font-size(70);
// 				display: block;
// 				background-color: $pink;
// 				@include gradient-background;
// 				-webkit-background-clip: text;
// 				background-clip: text;
// 				color: transparent;
// 				transition: 0.8s;
// 				&:hover,
// 				&:hover {
// 					color: $purple;
// 				}
// 			}
// 		}
// 	}
// }

.skills {
	background-image: url("../assets/images/skills.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: right;
	height: 40vh;

	.wrapper {
		padding-top: 30px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}

	li {
		// border: 1px solid white;
		width: 125px;
		height: 125px;
		border-radius: 50%;
		// margin: 20px auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: white;
		mix-blend-mode: screen;

		// color: transparent;
		// -webkit-background-clip: text;
		// background-clip: text;

		&:hover p {
			visibility: visible;
		}

		&:hover i {
			visibility: hidden;
		}

		&:hover span {
			visibility: hidden;
		}

		p {
			position: absolute;
			display: block;
			max-width: 110px;
			visibility: hidden;
		}
	}

	i,
	span {
		@include font-size(50);
	}
}

// .html,
// .css,
// .js,
// .redux,
// .git,
// .github {
// 	p {
// 		margin-top: 7px;
// 	}
// }

// .firebase,
// .accessibility {
// 	p {
// 		margin-top: 3px;
// 	}
// }

// .accessibility,
// .react {
// 	p {
// 		@include font-size(18);
// 	}
// }

// .responsive-design {
// 	p {
// 		margin-top: -7px;
// 	}
// }
