// fonts
@font-face {
	font-family: Thin Made Bon Voyage;
	src: url("../assets/typography/made-bon-voyage-cufonfonts/made-bon-voyage-thin.otf");
}

@font-face {
	font-family: Regular Made Bon Voyage;
	src: url("../assets/typography/made-bon-voyage-cufonfonts/made-bon-voyage-regular.otf");
}

// typography variables
$heading-font: "Thin Made Bon Voyage", "serif";
$text-font: "Open Sans", sans-serif;

// color variables
$purple: #bd5ec2;
$pink: #f862a7;
$coral: #ff7a87;
$salmon: #ffa26a;
$yellow: #ffc744;
// $purple: #a17a60;
// $pink: #ddc1a7;
// $purple: #1f306e;
// $pink: #8f3b76;
// typography mixins

@mixin font-size($sizeValue) {
	font-size: $sizeValue * 1px;
	font-size: ($sizeValue/20) * 1rem;
}

@mixin h1-font {
	@include font-size(80);
	font-family: $heading-font;
}

@mixin h2-font {
	@include font-size(50);
	font-family: $heading-font;
}

@mixin h3-font {
	@include font-size(60);
	font-family: $heading-font;
}

@mixin h4-font {
	@include font-size(40);
	font-family: "Regular Made Bon Voyage";
}
