// fonts
@font-face {
	font-family: "Migra Extrabold";
	src: url("../assets/typography/Migra-Extrabold.woff2") format("woff2");
}

@font-face {
	font-family: "Migra Extralight";
	src: url("../assets/typography/Migra-Extralight.woff2") format("woff2");
}

// typography variables
$logo-font: "Migra Extrabold", serif;
$home-font: "Migra Extralight", serif;
$body-font: "Open Sans", sans-serif;

// typography mixins
@mixin font-size($sizeValue) {
	font-size: $sizeValue * 1px;
	font-size: calc($sizeValue / 20) * 1rem;
}

@mixin logo-font {
	@include font-size(50);
	font-family: $logo-font;
}

@mixin nav-font {
	@include font-size(24);
	font-family: $logo-font;
}

@mixin h1-font {
	@include font-size(80);
	font-family: $logo-font;
}

@mixin h2-font {
	@include font-size(50);
	font-family: $body-font;
}

@mixin h3-font {
	@include font-size(50);
	font-family: $logo-font;
}

@mixin h4-font {
	@include font-size(30);
	font-family: $logo-font;
}
