html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Migra Extrabold";
  src: url("../assets/typography/Migra-Extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "Migra Extralight";
  src: url("../assets/typography/Migra-Extralight.woff2") format("woff2");
}
html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

img {
  display: block;
  max-width: 100%;
}

.fa-solid,
.fa-brands,
.fa-regular {
  font-family: fontAwesome;
  font-style: normal;
  display: block;
}

.material-icons-outlined {
  font-family: "Material Icons";
  display: block;
}

p {
  margin: 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  list-style: none;
}

button {
  border: none;
}

h1 {
  font-size: 80px;
  font-size: 4rem;
  font-family: "Migra Extrabold", serif;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: white;
}

h3 {
  font-size: 50px;
  font-size: 2.5rem;
  font-family: "Migra Extrabold", serif;
  margin-top: 0;
}

h4 {
  font-size: 30px;
  font-size: 1.5rem;
  font-family: "Migra Extrabold", serif;
  margin: 0;
}

.typed-cursor {
  color: black;
  margin-left: -8px;
}

footer p {
  margin: 3px auto;
  font-family: "Migra Extralight", serif;
}

.reveal {
  position: relative;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.reveal.active {
  opacity: 1;
}

@-webkit-keyframes arrow-fade {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 25px);
    opacity: 0;
  }
}

@keyframes arrow-fade {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 25px);
    opacity: 0;
  }
}
@-webkit-keyframes skill-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes skill-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes skill-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skill-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  font-size: 50px;
  font-size: 2.5rem;
  font-family: "Migra Extrabold", serif;
  color: white;
  padding-right: 23px;
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
}
.logo .logo-span {
  position: absolute;
  top: 12px;
  left: 21px;
}

nav {
  font-size: 24px;
  font-size: 1.2rem;
  font-family: "Migra Extrabold", serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  gap: 50px;
  margin: 0 auto;
}

.on-scroll {
  background-color: white;
}
.on-scroll .logo,
.on-scroll .nav-list,
.on-scroll .logo-span {
  background-image: url("../assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.on-scroll .bar-top,
.on-scroll .bar-mid,
.on-scroll .bar-bot {
  background-image: url("../assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-toggle {
  display: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.nav-toggle:focus {
  outline-width: 0;
}

.bar-top,
.bar-mid,
.bar-bot {
  background-color: white;
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease all;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
}

.home {
  background-image: url("../assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
}
header a {
  position: absolute;
  bottom: 40px;
}

.fa-chevron-down {
  font-size: 35px;
  font-size: 1.75rem;
  color: white;
  -webkit-animation: arrow-fade 1.2s infinite;
          animation: arrow-fade 1.2s infinite;
}

.about {
  background-image: url("../assets/images/about.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: right;
  min-height: 90vh;
}
.about .wrapper {
  padding-top: 70px;
}
.about .image-container {
  width: 35%;
  position: relative;
}
.about .image-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.about .image-container img {
  border-radius: 40%;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-content P {
  max-width: 55%;
  line-height: 35px;
}

.skills {
  background-image: url("../assets/images/skills.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
}
.skills .wrapper {
  padding: 70px 0 100px;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills li {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: screen;
  font-weight: bold;
}
.skills li:hover p {
  visibility: visible;
  -webkit-animation: skill-fadein 0.8s;
          animation: skill-fadein 0.8s;
}
.skills li:hover i {
  visibility: hidden;
  -webkit-animation: skill-fadeout 0.8s;
          animation: skill-fadeout 0.8s;
}
.skills li:hover span {
  visibility: hidden;
  -webkit-animation: skill-fadeout 0.8s;
          animation: skill-fadeout 0.8s;
}
.skills li p {
  position: absolute;
  display: block;
  max-width: 110px;
  visibility: hidden;
}
.skills i,
.skills span {
  font-size: 50px;
  font-size: 2.5rem;
}

.accessibility {
  font-size: 18px;
  font-size: 0.9rem;
}

.projects {
  background-image: url("../assets/images/projects.png");
  background-size: contain;
  background-position-x: center;
}
.projects .wrapper {
  padding: 70px 0 50px;
}
.projects .image-container {
  width: 55%;
}
.projects ul {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 60px 0;
  -webkit-box-shadow: 0px 0px 45px 0px rgb(204, 204, 204);
          box-shadow: 0px 0px 45px 0px rgb(204, 204, 204);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.projects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.project-content {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-links a {
  margin-top: 20px;
  background-image: url("../assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7px 20px 5px;
  border-radius: 14px;
  font-family: "Migra Extrabold", serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.project-links a:hover, .project-links a:focus {
  scale: 0.85;
}

.cope .image-container {
  width: 20%;
  margin-right: 30px;
  border: 2px solid #cccccc;
}
.cope .project-content {
  width: 45%;
}

video {
  display: block;
  width: 100%;
}

.contact {
  min-height: 40vh;
  background-image: url("../assets/images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.contact .wrapper {
  padding: 30px 0;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 40%;
}
.contact input,
.contact textarea {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.contact button {
  width: 20%;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 15px;
  margin-top: 5px;
  border: 3px solid white;
  font-family: "Migra Extrabold", serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact button:hover, .contact button:focus {
  background-color: white;
  scale: 0.9;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 300px;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -70px;
  -ms-flex-line-pack: center;
      align-content: center;
}
.contact-icons a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.contact-icons .fa-brands,
.contact-icons .fa-solid {
  font-size: 50px;
  font-size: 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-icons .fa-brands:hover, .contact-icons .fa-brands:focus,
.contact-icons .fa-solid:hover,
.contact-icons .fa-solid:focus {
  scale: 0.9;
}

.resume-download {
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 25px;
  border: 3px solid white;
  font-family: "Migra Extrabold", serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black !important;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
.resume-download:hover, .resume-download:focus {
  background-color: white;
  scale: 0.9;
}

textarea {
  height: 150px;
}

@media (prefers-reduced-motion: reduce) {
  .reveal {
    position: static;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .fa-chevron-down {
    font-size: 35px;
    font-size: 1.75rem;
    color: white;
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 85%;
  }
  h1 {
    font-size: 60px;
    font-size: 3rem;
  }
  h2 {
    font-size: 50px;
    font-size: 2.5rem;
  }
  .about {
    min-height: 80vh;
  }
  .about .image-container {
    width: 50%;
  }
  .about .wrapper {
    padding: 70px 0 70px;
  }
  .project-content {
    width: 40%;
  }
  .contact form {
    width: 70%;
  }
  .contact-content {
    gap: 80px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
  h1 {
    font-size: 50px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 35px;
    font-size: 1.75rem;
  }
  h4 {
    text-align: center;
    margin-top: 5px;
  }
  .nav-toggle {
    display: block;
    margin-left: auto;
  }
  .on-scroll .nav-list {
    background-image: none;
    background-clip: inherit;
    color: black;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 180px;
    padding: 40px 0;
    color: black;
    background-color: white;
    top: 63px;
    right: -200px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-list.open-menu {
    right: 0;
  }
  .about .image-container {
    width: 60%;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content p {
    max-width: 100%;
    text-align: center;
  }
  .skills li {
    width: 100px;
    height: 100px;
  }
  .accessibility,
  .js,
  .react,
  .responsive-design {
    font-size: 16px;
    font-size: 0.8rem;
  }
  .projects ul {
    gap: 70px;
  }
  .projects li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-content {
    width: auto;
    max-width: 80%;
  }
  .project-content p {
    text-align: center;
  }
  .cope h4 {
    margin-top: 8px;
  }
  .cope .project-content {
    width: 80%;
  }
  .cope .image-container {
    margin-right: 0;
  }
  .contact form {
    width: 100%;
  }
  .contact button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 90px;
  }
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 100px;
  }
  .contact-icons div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}