@font-face {
  font-family: "Thin Made Bon Voyage";
  src: url("../assets/typography/made-bon-voyage-thin.woff") format("woff");
}
@font-face {
  font-family: "Regular Made Bon Voyage";
  src: url("../assets/typography/made-bon-voyage-regular.woff") format("woff");
}
@font-face {
  font-family: "Migra Extrabold";
  src: url("../assets/typography/Migra-Extrabold.woff2") format("woff2");
}