html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Thin Made Bon Voyage";
  src: url("../assets/typography/made-bon-voyage-thin.woff") format("woff");
}
@font-face {
  font-family: "Regular Made Bon Voyage";
  src: url("../assets/typography/made-bon-voyage-regular.woff") format("woff");
}
html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
  color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle, rgba(189, 94, 194, 0.15), rgba(255, 122, 135, 0.15), rgba(255, 199, 68, 0.1));
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1400px;
}

img {
  display: block;
  width: 100%;
}

.fa-solid,
.fa-brands,
.fa-regular {
  font-family: fontAwesome;
  font-style: normal;
  display: inline-block;
  background-color: #f862a7;
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.fa-solid:hover, .fa-solid:focus,
.fa-brands:hover,
.fa-brands:focus,
.fa-regular:hover,
.fa-regular:focus {
  color: #bd5ec2;
}

.material-icons-outlined {
  font-family: "Material Icons";
  display: block;
  background-color: #f862a7;
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.material-icons-outlined:hover, .material-icons-outlined:focus {
  color: #bd5ec2;
}

.fa-chevron-up,
.fa-chevron-down {
  font-size: 35px;
  font-size: 1.75rem;
  -webkit-animation: arrow 1s linear 0s infinite normal;
          animation: arrow 1s linear 0s infinite normal;
}
.fa-chevron-up a,
.fa-chevron-down a {
  padding: 15px;
}

.fa-chevron-down {
  margin-left: -15px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 5px 15px;
  border-radius: 50px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 80px;
  font-size: 4rem;
  font-family: "Thin Made Bon Voyage", serif;
}

h2 {
  font-size: 50px;
  font-size: 2.5rem;
  font-family: "Thin Made Bon Voyage", serif;
}

h3 {
  font-size: 60px;
  font-size: 3rem;
  font-family: "Thin Made Bon Voyage", serif;
}

h4 {
  font-size: 40px;
  font-size: 2rem;
  font-family: "Regular Made Bon Voyage";
}

footer p {
  text-align: center;
  margin: 40px 0 10px;
}

.reveal {
  position: relative;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.reveal.active {
  opacity: 1;
}

@-webkit-keyframes arrow {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-ul {
  margin: 30px -15px 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-ul li {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.menu-ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-ul li a:hover, .menu-ul li a:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  color: white;
}

.nav-toggle {
  display: none;
  position: fixed;
  padding: 12px 7px;
  background-color: rgba(189, 94, 194, 0.7);
  border: none;
  margin: 7px 0;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.nav-toggle:focus {
  outline-width: 0;
}

.bar-top,
.bar-mid,
.bar-bot {
  background: white;
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease all;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
}

header {
  padding-top: 8%;
  height: calc(100vh - 71px);
}
header .wrapper:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header span {
  display: block;
}
header div:nth-of-type(1) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header h1,
header h2 {
  margin: 0 30px 0 0;
}
header .image-container {
  max-width: 40%;
  margin-left: auto;
}
header img:hover {
  cursor: url("../assets/images/Hello-Speech-Bubble.png"), auto;
}

.image-shadow {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  position: relative;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.image-shadow img {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.about {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about p {
  max-width: 80%;
  line-height: 1.7rem;
}

.skills {
  padding: 120px 0;
}
.skills ul {
  margin: 0 auto;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills ul li {
  max-width: 150px;
  width: 150px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.skills ul li p {
  text-align: center;
  max-width: 100%;
  margin: 5px auto;
}
.skills ul li .material-icons-outlined {
  margin-top: 5px;
  margin-bottom: -15px;
}
.skills ul li i,
.skills ul li span {
  font-size: 70px;
  font-size: 3.5rem;
  display: block;
  background-color: #f862a7;
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.skills ul li i:hover, .skills ul li i:hover,
.skills ul li span:hover,
.skills ul li span:hover {
  color: #bd5ec2;
}

.projects {
  padding: 120px 0 80px;
}

.self-love,
.js-quiz,
.planted,
.tasty {
  max-width: 70%;
  margin: 100px 0;
  margin-right: auto;
}
.self-love .image-container,
.js-quiz .image-container,
.planted .image-container,
.tasty .image-container {
  width: 70%;
  margin: 0 auto;
}
.self-love h4,
.js-quiz h4,
.planted h4,
.tasty h4 {
  text-align: center;
  width: 50%;
  margin: 0;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-container p {
  margin: 10px auto;
  text-align: center;
}
.project-container .project-tools {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-container .project-tools p {
  margin: 2px 10px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.planted,
.self-love {
  margin-right: 0;
  margin-left: auto;
}

.project-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.project-info a {
  padding: 5px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.project-info a:hover, .project-info a:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  color: white;
}

.contact h3 {
  margin: 60px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icons {
  margin-top: 30px;
}
.contact-icons i {
  font-size: 40px;
  font-size: 2rem;
  display: inline-block;
}

.email-address:hover, .email-address:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

input,
textarea,
button[type=submit] {
  margin: 3px auto;
  width: 50%;
  border: none;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}
input:hover, input:focus,
textarea:hover,
textarea:focus,
button[type=submit]:hover,
button[type=submit]:focus {
  outline: 2px solid #bd5ec2;
}

button[type=submit] {
  width: 170px;
  background-color: #bd5ec2;
  color: white;
  margin-top: 15px;
}
button[type=submit]:hover, button[type=submit]:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
}

textarea {
  height: 200px;
}

.thank-you-page h1 {
  font-size: 40px;
  font-size: 2rem;
  font-family: "Regular Made Bon Voyage";
  text-align: center;
  margin: 15px auto 10px;
  line-height: 50px;
}
.thank-you-page p {
  text-align: center;
  margin: 10px 0 30px;
}
.thank-you-page a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  background-color: #bd5ec2;
  color: white;
  margin-top: 15px;
}
.thank-you-page a:hover, .thank-you-page a:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#bd5ec2), color-stop(30%, #f862a7), color-stop(70%, #ff7a87), color-stop(90%, #ffa26a), to(#ffc744));
  background-image: linear-gradient(90deg, #bd5ec2 0%, #f862a7 30%, #ff7a87 70%, #ffa26a 90%, #ffc744 100%);
  outline: 2px solid #bd5ec2;
}
.thank-you-page section {
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  min-width: 400px;
}

@media (max-width: 1200px) {
  header {
    height: 80vh;
  }

  h1 {
    font-size: 70px;
    font-size: 3.5rem;
  }

  h2 {
    font-size: 40px;
    font-size: 2rem;
  }

  .about {
    padding: 80px 0;
  }

  .skills {
    padding: 80px 0;
  }
  .skills ul li i,
.skills ul li span {
    font-size: 60px;
    font-size: 3rem;
  }

  .projects {
    padding-top: 80px;
  }

  input,
textarea {
    width: 60%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 113%;
  }

  .wrapper {
    width: 90%;
  }

  header {
    height: auto;
  }
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper img:hover {
    cursor: auto;
  }
  header div:nth-of-type(1) {
    text-align: center;
  }
  header h1,
header h2 {
    margin: 0 auto;
  }
  header .image-container {
    max-width: 50%;
    margin: 60px auto;
  }

  .about {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
  }
  .about p {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }

  .skills {
    text-align: center;
  }
  .skills ul li {
    width: 100px;
  }

  .projects {
    padding: 0;
    text-align: center;
  }
  .projects h4 {
    margin-top: 20px;
  }

  .self-love,
.js-quiz,
.planted,
.tasty {
    max-width: 100%;
    margin: 100px auto;
  }
  .self-love h4,
.js-quiz h4,
.planted h4,
.tasty h4 {
    width: 80%;
    margin: 0;
  }
  .self-love .image-container,
.js-quiz .image-container,
.planted .image-container,
.tasty .image-container {
    width: 60%;
    margin: 0 auto;
  }

  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .js-quiz .project-container {
    margin-top: -25px;
  }

  .self-love p,
.planted p {
    text-align: center;
  }

  .project-info {
    padding: 0;
  }

  .contact h3 {
    margin: 60px auto 0;
  }

  .contact-icons {
    margin: 10px auto;
  }
}
@media (max-width: 750px) {
  .navigation .wrapper {
    width: 100vw;
    height: 100vh;
    right: -100vw;
    text-align: center;
    position: fixed;
    background-color: rgba(189, 94, 194, 0.8);
    z-index: 5;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }

  .nav-toggle {
    display: inline-block;
  }

  .menu-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
    margin-top: calc((100vh - 400px) / 2);
    height: 400px;
  }
  .menu-ul li {
    font-size: 30px;
    font-size: 1.5rem;
  }
  .menu-ul li a {
    background-color: white;
    padding: 8px 15px;
  }
  .menu-ul li a:hover, .menu-ul li a:focus {
    color: black;
    font-weight: bolder;
    background-image: none;
    border: 2px solid white;
  }

  header {
    padding-top: 80px;
  }
  header h1 {
    font-size: 60px;
    font-size: 3rem;
  }
  header h2 {
    font-size: 30px;
    font-size: 1.5rem;
  }
  header .image-container {
    max-width: 60%;
  }

  .self-love,
.js-quiz,
.planted,
.tasty {
    max-width: 100%;
    margin: 100px auto;
  }
  .self-love h4,
.js-quiz h4,
.planted h4,
.tasty h4 {
    width: 80%;
    margin: 0;
  }
  .self-love .image-container,
.js-quiz .image-container,
.planted .image-container,
.tasty .image-container {
    width: 75%;
  }

  .contact h3 {
    font-size: 50px;
    font-size: 2.5rem;
  }

  input,
textarea {
    width: 90%;
  }

  .thank-you-page h1 {
    font-size: 30px;
    font-size: 1.5rem;
    line-height: 38px;
  }
  .thank-you-page section {
    width: 70%;
    min-width: auto;
    padding: 10px;
  }
  .thank-you-page a {
    font-size: 18px;
    font-size: 0.9rem;
    width: 60%;
  }
}